<!DOCTYPE html>
<html>
  <head>
    <title>Charles Jude Prestia</title>
    <link rel="icon" type="image/png" href="/assets/images/alien.png">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="tech-icons/dist/icons.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One|Teko" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <script src="https://use.fontawesome.com/a61d82420f.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  </head>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-8" id="nameDiv">
          <a href="/" id="name">Charles Jude Prestia</a>
        </div>
        <div class="col-xs-4" id="navDiv">
          <ul id="sitePages">
            <li><a href="/about" id="navBarAbout">About</a></li>
            <li><a href="/portfolio" id="navBarPortfolio">Portfolio</a></li>
            <li><a href="/contact" id="navBarContact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <body>
    {{{ body }}}
  </body>

  <footer>
    <div class="container">
      <div class="row">
        &copy; Copyright 2017 Charles Jude Prestia
        <a id="goinToSpace" href="https://starfoxmulder.github.io/imgoin/intospace.html" class="socialIcons">
          <i class="fa fa-paypal fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </footer>
</html>
