<!DOCTYPE html>
<html>
  <head>
    <title>Charles Jude Prestia</title>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <script src="https://use.fontawesome.com/a61d82420f.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Poiret+One|Teko" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  </head>
  <header id="masthead">
    <div class="container">
      <a href="/" id="name">Charles Jude Prestia</a>
      <nav id="sitePages">
        <a href="/about" id="navBarAbout">About</a>
        <a href="/portfolio" id="navBarBorders">Portfolio</a>
        <a href="/contact" id="navBarContact">Contact</a>
      </nav>
    </div>
  </header>

  <body>
    {{{ body }}}
  </body>

  <footer>
    <div class="container">
      &copy; Copyright 2017 Charles Jude Prestia
    </div>
  </footer>
</html>
