<main class="container">
	<div class="row">
		<section class="main-section col-xs-8">
				<h1>About Me</h1>

				<img id="myPic" src="./public/assets/images/FormalWare.jpg">

				<p id="beeMovie">"According to all known laws of aviation, there is no way that a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyways. Because bees don't care what humans think is impossible."</p>
				<p id="beeMovieT"><i> - Bee Movie </i></p>
					<br>
				<p id="Bio-text">I've never seen Bee Movie, but knowing that a movie exists where Jerry Seinfeld, as a bee, falls in love with a woman who helps him sue the humanity for the practice of harvesting honey is inspirational to me.  Everything about it seems implausible - reason forbids it at every turn - yet it was <i>made</i> in our world by people with a solid vision for the product they wanted to bring to the world.</p>
				<p id="Bio-text2">Creation means something to me.  Delivering on my promise to create value for my friends, family, dogs, clients, and co-workers drives what I do.  Let's build something radical together!</p>
			</section>

			<section id="sidebar" class="col-xs-offset-1 col-xs-3">
				<div id="connect" class="row">
					<h2 class="col-xs-12">Connect with Me</h2>
				</div>

				<div class="row">
					<ul id="SocialImages" class="col-xs-12">
						<li class="socialIconLI"><a href="https://github.com/StarfoxMulder" class="socialIcons"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
						<li class="socialIconLI"><a href="https://www.linkedin.com/in/charles-prestia-2b156317?trk=hp-identity-name" class="socialIcons"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
						<li class="socialIconLI"><a href="http://stackoverflow.com/users/6627907/starfox-mulder" class="socialIcons"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</section>
    </main>
