<main class="container">
	<div class="row">
		<section class="main-section col-xs-7">
			<h1>Portfolio</h1>

			<div class="work col-xs-5">
				<a href="https://peaceful-sea-72109.herokuapp.com/">
					<img src="assets/images/cryptogif.png">
					<h3>Cryptogifs</h3>
				</a>
			</div>

			<div class="work col-xs-5">
				<a href="https://starfoxmulder.github.io/soundboard/forBrian/SoundboardC.html">
					<img src="assets/images/soundboard.PNG">
					<h3>Soundboard</h3>
				</a>
			</div>

			<div class="work col-xs-5">
				<a href="http://mentorproject.herokuapp.com/">
					<img src="assets/images/mentor.PNG">
					<h3>The Mentor</h3>
				</a>
			</div>

			<div class="work col-xs-5">
				<a href=" https://protected-dusk-19073.herokuapp.com/">
					<img src="assets/images/RutgersInfoWidget.jpg">
					<h3>Protected Dusk</h3>
				</a>
			</div>

			<div class="work col-xs-5">
				<img src="assets/images/RPS.jpg">
				<h3>Rock Paper Scissors</h3>
			</div>

		</section>

		<section id="sidebar" class="col-xs-offset-1 col-xs-3">
			<div id="connect">
				<h2>Connect with Me</h2>

				<ul id="SocialImages">
					<li class="socialIconLI"><a href="https://github.com/StarfoxMulder" class="socialIcons"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="https://www.linkedin.com/in/charles-prestia-2b156317?trk=hp-identity-name" class="socialIcons"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="http://stackoverflow.com/users/6627907/starfox-mulder" class="socialIcons"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</section>
	</div>
</main>

