<main class="container">
	<div class="row">
		<section class="main-section col-xs-8">
			<h2>Portfolio</h2>

			<div class="work col-xs-4">
				<a href="https://peaceful-sea-72109.herokuapp.com/" data-info="A cryptid-themed search application that get's the first 10 results for your search term via Giphy's API, dispalays the static image by default, and onClick toggles between the static image or animated gif.  Search terms added by users are not persistent - there is not a database for storing new items; the initial terms are hardcoded within a JavaScript file and user entries are stored on the client within a JavaScript array." data-title="Cryptogifs">
					<img src="assets/images/cryptogif.png">
					<div class="col-xs-12">
					<h3>Cryptogifs</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-4">
				<a href="https://starfoxmulder.github.io/soundboard/forBrian/SoundboardC.html" data-info="Over the course of the show's history, the Unbelievable Podcast has accumulated over 90 soundclips that have become an integral part of the program through regular playback.  After presenting the show's host with a limited prototype of a webapp version of the soundboard, I was given access to the full catalog of soundclips to create the offical soundboard for the podcast.  Each sound tile is created as an iteration of a for loop over an array of objects with key/value pairs for the sound's title, image url, and mp3 url.  In the near future I'd like to try my hand at learning native app design " data-title="Soundboard">
					<img src="assets/images/soundboard.PNG">
					<div class="col-xs-12">
					<h3>Soundboard</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-4">
				<a href="http://mentorproject.herokuapp.com/" data-info="Over the course of the show's history, the Unbelievable Podcast has accumulated over 90 soundclips that have become an integral part of the program through regular playback.  After presenting the show's host with a limited prototype of a webapp version of the soundboard, I was given access to the full catalog of soundclips to create the offical soundboard for the podcast.  Each sound tile is created as an iteration of a for loop over an array of objects with key/value pairs for the sound's title, image url, and mp3 url.  In the near future I'd like to try my hand at learning native app design " data-title="The Mentor">
					<img src="assets/images/mentor.PNG">
					<div class="col-xs-12">
					<h3>The Mentor</h3>
					</div
				</a>
			</div>

			<div class="work col-xs-4">
				<a href=" https://protected-dusk-19073.herokuapp.com/" data-info="Over the course of the show's history, the Unbelievable Podcast has accumulated over 90 soundclips that have become an integral part of the program through regular playback.  After presenting the show's host with a limited prototype of a webapp version of the soundboard, I was given access to the full catalog of soundclips to create the offical soundboard for the podcast.  Each sound tile is created as an iteration of a for loop over an array of objects with key/value pairs for the sound's title, image url, and mp3 url.  In the near future I'd like to try my hand at learning native app design " data-title="Protected Dusk">
					<img src="assets/images/protecteddusk.PNG">
					<div class="col-xs-12">
					<h3>Protected Dusk</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-4">
				<a href="https://aqueous-fortress-37726.herokuapp.com/" data-info="Over the course of the show's history, the Unbelievable Podcast has accumulated over 90 soundclips that have become an integral part of the program through regular playback.  After presenting the show's host with a limited prototype of a webapp version of the soundboard, I was given access to the full catalog of soundclips to create the offical soundboard for the podcast.  Each sound tile is created as an iteration of a for loop over an array of objects with key/value pairs for the sound's title, image url, and mp3 url.  In the near future I'd like to try my hand at learning native app design " data-title="Contactee Trivia">
					<img src="assets/images/trivia.PNG">
					<div class="col-xs-12">
					<h3>Contactee Trivia</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-4">
				<a href="https://aqueous-fortress-37726.herokuapp.com/" data-info="Over the course of the show's history, the Unbelievable Podcast has accumulated over 90 soundclips that have become an integral part of the program through regular playback.  After presenting the show's host with a limited prototype of a webapp version of the soundboard, I was given access to the full catalog of soundclips to create the offical soundboard for the podcast.  Each sound tile is created as an iteration of a for loop over an array of objects with key/value pairs for the sound's title, image url, and mp3 url.  In the near future I'd like to try my hand at learning native app design " data-title="PetFriender">
					<img src="assets/images/petfriender.PNG">
					<div class="col-xs-12">
					<h3>PetFriender</h3>
					</div>
				</a>
			</div>
		</section>

		<section>
			<div id="infoCont" class="col-xs-3 col-xs-offset-1">
				<div id="projectTitle">
				</div>
				<div id="projectInfo">
				</div>
			</div
		</section>
	</div>

	<div class="row">
		<section id="sidebar" class="col-xs-offset-4 col-xs-4">
			<div id="connect" class="row">
				<h2 class="col-xs-12">Connect with Me</h2>
			</div>

			<div class="row">
				<ul id="SocialImages" class="col-xs-12">
					<li class="socialIconLI"><a href="https://github.com/StarfoxMulder" class="socialIcons"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="https://www.linkedin.com/in/charles-prestia-2b156317?trk=hp-identity-name" class="socialIcons"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="http://stackoverflow.com/users/6627907/starfox-mulder" class="socialIcons"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</section>
	</div>

	</div>
</main>

