<main class="container">
	<div class="row">
		<section class="main-section col-xs-8">
			<h2 class="col-xs-12">Portfolio</h2>

			<div class="work col-xs-6">
				<a href="https://peaceful-sea-72109.herokuapp.com/">
					<img src="assets/images/cryptogif.png">
					<div class="col-xs-12">
					<h3>Cryptogifs</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-6">
				<a href="https://starfoxmulder.github.io/soundboard/forBrian/SoundboardC.html">
					<img src="assets/images/soundboard.PNG">
					<div class="col-xs-12">
					<h3>Soundboard</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-6">
				<a href="http://mentorproject.herokuapp.com/">
					<img src="assets/images/mentor.PNG">
					<div class="col-xs-12">
					<h3>The Mentor</h3>
					</div
				</a>
			</div>

			<div class="work col-xs-6">
				<a href=" https://protected-dusk-19073.herokuapp.com/">
					<img src="assets/images/protecteddusk.PNG">
					<div class="col-xs-12">
					<h3>Protected Dusk</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-6">
				<a href="https://aqueous-fortress-37726.herokuapp.com/">
					<img src="assets/images/trivia.PNG">
					<div class="col-xs-12">
					<h3>Contactee Trivia</h3>
					</div>
				</a>
			</div>

			<div class="work col-xs-6">
				<a href="https://aqueous-fortress-37726.herokuapp.com/">
					<img src="assets/images/petfriender.PNG">
					<div class="col-xs-12">
					<h3>PetFriender</h3>
					</div>
				</a>
			</div>

		</section>

		<section id="sidebar" class="col-xs-offset-1 col-xs-3">
			<div id="connect" class="row">
				<h2 class="col-xs-12">Connect with Me</h2>
			</div>

			<div class="row">
				<ul id="SocialImages" class="col-xs-12">
					<li class="socialIconLI"><a href="https://github.com/StarfoxMulder" class="socialIcons"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="https://www.linkedin.com/in/charles-prestia-2b156317?trk=hp-identity-name" class="socialIcons"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
					<li class="socialIconLI"><a href="http://stackoverflow.com/users/6627907/starfox-mulder" class="socialIcons"><i class="fa fa-stack-overflow fa-3x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</section>
	</div>
</main>

