body {
	background: #456145;
	background-image: url("../images/zenbg-1.png"), url("../images/zenbg-2.png");
	background-repeat: repeat-x, repeat;
	padding: 0 -15px;
	height: 100%;
}

/**********

TO SEE Original CSS, view Homework2 -> Assignment 1 -> Style/Style2/Style3.css

**********/

/*  GENERAL  */

.container {
	margin: 0 auto;
}

h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}
h2,
h3 {
	font-size: 22px;
}

/* GENERAL Header*/

#masthead {
	background: #fff;
	z-index: 9;
	color: #fff;
	overflow: auto;
	position: fixed;
	width: 100%;
	padding: 0;
}

#name {
	height: 70px;
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
	color: #fff;
	line-height: 70px;
	font-size: 35px;
	font-weight: 500;
	letter-spacing: 2px;
	text-decoration: none;
	background: #456145;
	background-image: url("../images/zenbg-1.png"), url("../images/zenbg-2.png");
	background-repeat: repeat-x, repeat;
}

nav {
	margin-top: 25px;
}
nav a {
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}
nav a:first-child {
	border-left: 0 none;
}

footer {
	font-family: 'Poiret One', cursive;
	font-weight: 600;
	background: #666;
	color: #fff;
	padding: 15px 0;
	clear: both;
	border-top: 2px solid #5A947B;
	color: #ccc;
	font-size: 14px;
	text-align: right;
	position: fixed;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
}

/*  INDEX/Landing Page  */
#nameIndex {
	font-size: 80px;
	letter-spacing: 3px;
	text-decoration: none;
	font-family: 'Archivo Narrow', sans-serif;
	color: #fff;
}

/*  HOME PAGE  */


.main-section {
	background: #fff;
	padding: 30px;
	margin: 0 0 40px 0;
	width: 100%;
	max-width: 650px;
	float: left;
	border: 1px solid #ddd;
}

#myPic {
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	width: 40%;
	height: 40%;
}

#beeMovie {
	font-style: italic;
}

#beeMovieT {
	font-style: italic;
	float: right;
	margin-bottom: 15px;
}

/*sidebar*/

.sidebar {
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
h3,
.sidebar h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}
#socialImages {
	text-decoration: none;
	position: relative;
	color: #dddddd;
}

/* Discovered through DevTools that this was adding padding from
   'user agent stylesheet' (although this works for Chrome, the
   the 'moz-focus-inner' line was needed for FireFox) */
/*ul, menu, dir {
	-webkit-padding-start: 0px;
}

ul, li, a, i::-moz-focus-inner {
	padding: 0;
    border: 0;
}*/

.socialIconLI {
	text-decoration: none;
	display: inline;
	width: 68.56px;
	height: 40px;
	color: #dddddd;
}

.socialIconLI:nth-child(2n) {
	padding: 0 25px 0 25px;
}

.socialIcons {
	text-decoration: none;
	display: inline;
	width: 40px;
	height: 40px;
	color: #dddddd;
}

.socialIcons > i{
	width: 40px;
	height: 40px;
	text-decoration: none;
	display: inline;
	color: #dddddd;
}

.socialIcons > i:link {
	text-decoration: none; /* This and the other a.xxx do not seem to be effectual */
	width: 40px;
	height: 40px;
	color: #dddddd;
}

.socialIcons > i:visited {
	text-decoration: none;
	width: 40px;
	height: 40px;
	color: #dddddd;
}

.socialIcons > i:hover {
	text-decoration: none;
	width: 40px;
	height: 40px;
	color: #4aaaa5;
}


/* --- Contact Page --- */

#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: #4aaaa5;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}

/* --- Portfolio Page --- */

.work {
	width: 274px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
}
.work:nth-child(even) {
	margin-right: 40px;
}
.work img {
	width: 100%;
	border: 0 none;
	opacity: .8;
}
.work h3 {
	border-bottom: 0;
	background: #4aaaa5;
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 15px;
	width: 100%;
	bottom: 20px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}
.auth-image {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}

/*---Media Queries--*/

@media only screen and (max-width: 980px) {
	.container {
		padding: 0 20px;
		max-width: 768px;
	}
	main.container {
		padding-top: 130px;
	}
	.main-section {
		max-width: 420px;
	}
	.work {
		width: 100%;
	}
	#myPic {
		width: 100%;
		margin-bottom: 20px;
		clear: both;
	}
}

@media only screen and (max-width: 768px) {
	.main-section,
	.sidebar {
		max-width: 100%;
	}
	main {
		overflow: auto;
	}
	.work {
		width: 47%;
		margin-bottom: 10px;
	}
	.work:nth-child(even){
		margin-right: 0;
	}
	.work:nth-child(odd) {
		float: right;
	}
	#myPic {
		width: 50%;
	}
	.sidebar {
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 640px) {
	#masthead {
		position: static;
		margin-bottom: 20px;
	}
	header .container {
		padding: 0;
	}
	main.container {
		padding-top: 0;
	}
	#name,
	.work,
	#myPic {
		width: 100%;
	}
	nav {
		text-align: center;
		width: 100%;
		margin: 15px 0;
	}
	nav a {
		width: 30%;
		padding-left: 0;
		margin-left: 0;
	}
}
